<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <title>{{ title }} - Learning Vocabulary in Real Life Events</title>
    </head>
    <body>
        <h3>Please choose click the word to learn further</h3>
        {% set counter = 1 %}
        {% for word in word_list %}
            <ul>
                <a href="/word/{{ word.id }}/{{ word.word }}"><p><b>{{ counter }}: <b>{{ word.word }}</b></p>
                <img src="{{ url_for('static', filename =  'word/' + word.word + '.jpg') }}" width="210" height="140">
            </ul>
            {% set counter = counter + 1 %}
        {% endfor %}
    </body>
</html>